%ul
  - evaluations.each do |evaluation|
    %li
      = evaluation.title
      - if resp = current_user.response_for(evaluation)
        - if resp.completed?
          = "Ended #{time_ago_in_words(resp.completed_at)} ago"
        - elsif resp.submitted?
          = "Taken #{time_ago_in_words(resp.submitted_at)} ago"
        = link_to "View", evaluation_response_path(resp)
        - unless resp.completed?
          = link_to "Edit", edit_evaluation_response_path(resp)
      - else
        = form_for EvaluationResponse.new(evaluation: evaluation) do |form|
          = form.hidden_field :evaluation_id
          = form.submit "Take Evaluation"
