%ul
  - evaluations.each do |evaluation|
    %li
      = evaluation.title
      - if completed_response = current_user.completed_response_for(evaluation)
        = "Taken #{time_ago_in_words(completed_response.completed_at)} ago"
        = link_to "Click to view", evaluation_response_path(completed_response)
      - else
        = form_for EvaluationResponse.new(evaluation: evaluation) do |form|
          = form.hidden_field :evaluation_id
          = form.submit "Take Evaluation"
