<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @evaluation.title %>
</p>

<p>
  <b>Body:</b>
  <%= @evaluation.body %>
</p>

<p>
  <b>Assignment:</b>
  <%= @evaluation.assignment_id %>
</p>


<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', evaluations_path %>
