%h2
  = evaluation.title
  - if evaluation_response.for_peer?
    = "for #{evaluation_response.peer}"
%p#evaluation-description= evaluation.description

= form_for(evaluation_response) do |form|
  = render partial: evaluation.sections_in_order, locals: {form: form}
  = form.submit "Submit Evaluation"
