<%= form_for(person) do |f| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> kept this save from happening:</h2>

      <ul>
      <% person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :github_handle %>
    <%= f.text_field :github_handle, disabled: :disabled %>

    <%= f.label "Name" %>

    <%= f.text_field :first_name, class: "input-small" %>

    <%= f.text_field :last_name, class: "input-small" %>

    <%= f.label :email %>
    <%= f.text_field :email %>

  <div class="actions">
    <%= f.submit class: "btn btn-primary btn-large" %>
  </div>

<% end %>
