<h1>All People</h1>

<table class="table table-striped table-hover">
  <thead>
    <th>First name</th>
    <th>Last name</th>
    <th>GitHub handle</th>
    <th>Email</th>
    <th></th>
    <th></th>
  </thead>

<% people.each do |person| %>
  <tr>
    <td><%= person.first_name %></td>
    <td><%= person.last_name %></td>
    <td><%= person.github_handle %></td>
    <td><%= person.email %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
  </tr>
<% end %>
</table>

<br />
