%p= "Hi, #{@recipient_name}!"
%p
  = "#{@evaluator_name} has given feedback on"
  %strong= "#{@feedback_target}."

%p They said:

= @remarks

%p
  View your evaluation at:
  = link_to evaluation_response_url(@evaluation), evaluation_response_url(@evaluation)
